################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/AdventOfCode2023/FileContentIndex/04eec7bc-5a6b-4d50-aa06-9084718d981a.vsidx
/.vs/AdventOfCode2023/FileContentIndex/9c2ac850-864e-4ed1-9589-addc6bfd8867.vsidx
/.vs/AdventOfCode2023/FileContentIndex/c7ce4126-0bca-4fdc-b021-f9168736be74.vsidx
/.vs/AdventOfCode2023/FileContentIndex/f1bd9100-1e90-45d3-9b25-ffd656075345.vsidx
